@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.cool-slider {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.slide {
    transform-style: preserve-3d;
    width: 600px;
    height: 300px;
    top: calc(50% - 150px);
    left: calc(50% - 300px);
    transition: all 1.5s ease;
    -webkit-transition: all 1.5s ease;
    position: absolute;
    .svg-holder {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 10;
    }
    svg {
        position: absolute;
        left: calc(50% - 300px);
        top: calc(50% - 300px);
        transform: scale(1.5);
    }
    .content {
        transform: translateZ(100px);
        height: 100%;
        width: calc(100% - 280px);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        .title {
            position: relative;
            text-transform: uppercase;
            font-weight: 800;
            font-size: 35pt;
            line-height: 40pt;
            margin-bottom: 0px;
            padding: 0px;
        }
        .info {
            font-weight: 700;
            font-size: 12pt;
        }
        a {
            position: relative;
            float: left;
            padding: 5px 15px;
            background: #000;
            color: #fff;
            font-weight: 700;
            border-radius: 5px;
            margin-top: 10px;
            cursor: pointer;
            font-size: 12pt;
            border: 2px solid #000;
            transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
            &:hover {
                background: #fff;
                color: #000;
            }
        }
    }
    img {
        transform: translateZ(50px);
        position: absolute;
        width: 300px;
        top: 0;
        right: 0;
        z-index: 100;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
    }
    .slide-num {
        transform: translateZ(50px);
        position: relative;
        bottom: 0;
        left: 90px;
        z-index: 100;
        margin: 0px;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 25pt;
        float: left;
        color: #cdcdcd;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;
        &:after {
            content: '';
            position: absolute;
            height: 5px;
            width: 75px;
            right: calc(100% + 15px);
            float: left;
            top: 22px;
            background: #cdcdcd;
        }
    }
}

.slide.hidden {
    opacity: 0;
    pointer-events: none;
    display: none;
}

.slide.out-left {
    -webkit-transform: translate(-350px, 00px) !important;
    transform: translate(-350px, 00px) !important;
    opacity: 0;
    .content {
        transform: translate(-150px, 00px) !important;
    }
    img {
        transform: translate(-250px, 00px) !important;
    }
    .slide-num {
        transform: translate(-100px, 00px) !important;
    }
}

.slide.out-right {
    -webkit-transform: translate(350px, 00px) !important;
    transform: translate(350px, 00px) !important;
    opacity: 0;
    .content {
        transform: translate(250px, 00px) !important;
    }
    img {
        transform: translate(150px, 00px) !important;
    }
    .slide-num {
        transform: translate(200px, 00px) !important;
    }
}

.slide.in-left {
    -webkit-transform: translate(-350px, 00px) !important;
    transform: translate(-350px, 00px) !important;
    opacity: 0;
    display: block;
    .content {
        transform: translate(-150px, 00px) !important;
    }
    img {
        transform: translate(-250px, 00px) !important;
    }
    .slide-num {
        transform: translate(-100px, 00px) !important;
    }
}

.slide.in-right {
    -webkit-transform: translate(350px, 00px) !important;
    transform: translate(350px, 00px) !important;
    opacity: 0;
    display: block;
    .content {
        transform: translate(250px, 00px) !important;
    }
    img {
        transform: translate(150px, 00px) !important;
    }
    .slide-num {
        transform: translate(200px, 00px) !important;
    }
}

.scroll-down {
    width: 200px;
    left: calc(50% - 100px);
    bottom: 20px;
    float: left;
    position: absolute;
    .mouse {
        float: left;
        position: relative;
        height: 49px;
        width: 30px;
        left: calc(50% - 15px);
        border-radius: 500px;
        border: 2px solid #000;
        .dot {
            width: 8px;
            height: 8px;
            position: absolute;
            background: #000;
            border-radius: 500px;
            left: calc(50% - 4px);
            top: 5px;
            animation: wheel 2s ease-in-out infinite;
        }
    }
    p {
        float: left;
        clear: both;
        width: 100%;
        margin: 5px 0px 0px 0px;
        text-align: center;
        font-size: 9pt;
        font-weight: 800;
        text-transform: uppercase;
    }
}

@keyframes wheel {
    0% {
        top: 5px;
    }
    80% {
        top: 5px;
    }
    90% {
        top: 10px
    }
    100% {
        top: 5px;
    }
}